---
// component imports
import Link from "../atoms/Link.astro";

// data imports
import navData from "../../data/navData.js";

//styles import
import "../../css/main.css";
import "../../css/colors.css";
import "../../css/typography.css";
import "../../css/sizing.css";

// scripts imports
const { href, title, body, image, alt } = Astro.props;
const filteredNavData = navData.filter(item => item.shown && item.location === "external");

---
{
  filteredNavData.map((item) => (
    <li>
    <Link 
      title={item.name}
      href={item.href}
      image={item.image}
      target="_blank" 
      >
        <img 
          src={item.image} 
          alt={item.name} 
          height="var(--s0)" 
          />
    </Link>
    </li>
  ))
}

<style></style>
<script>
  
</script>
