---
// component imports
import Link from "../atoms/Link.astro";

// data imports
import navData from "../../data/navData.js";
import { socialMediaPlatforms } from "../../data/socialMediaPlatform.ts";

//styles import
import "../../css/main.css";
import "../../css/colors.css";
import "../../css/typography.css";
import "../../css/sizing.css";
import { Image } from "astro:assets";

// scripts imports
const { href, title, body, image, alt, target } = Astro.props;
const filteredNavData = navData
  .filter((item) => item.shown && item.location === "external")
  .map((item) => ({
    ...item,
  }));
---

{
  filteredNavData.map((item) => (
    <li>
      <Link
        href={item.href}
        text={""}
        style="secondary"
        title={item.name}
        image={item.image}
        target="_blank"
        alt={item.name}
        currentPath={item.path}
      >
        <img src={item.image} alt={item.name} height={16} />
      </Link>
    </li>
  ))
}

<style>
  li {
    padding: var(--s0);
  }
</style>
<script></script>
