---
// library imports
import { Icon } from "astro-icon";

// component imports
import Link from "../atoms/Link.astro";

// data imports
import navData from "../../data/navData.js";

//styles import
import "../../css/main.css";
import "../../css/colors.css";
import "../../css/typography.css";
import "../../css/sizing.css";

const filteredNavData = navData.filter(
  (item) => item.shown && item.location === "internal"
);
---

<nav class="">
  <a href={"/"} class="logo"
    ><Icon name="logorlm" side="right" width="60" alt="Ravi Rambaran Art" />
  </a>
  <ul class="site-nav-mobile">
    {
      filteredNavData.map((item) => (
        <li>
          <Link
            text={item.name}
            href={item.path}
            style="secondary"
            isFilled={false}
            data-navLink
          />
        </li>
      ))
    }
  </ul>

  <ul class="site-nav">
    {
      filteredNavData.map((item) => (
        <li>
          <Link
            text={item.name}
            href={item.path}
            style="secondary"
            isFilled={false}
            data-navLink
          />
        </li>
      ))
    }
  </ul>
</nav>

<script>
  import "../../scripts/js/nav.js";
</script>
<style>
  nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--s0);
    width: 100%;
    background-color: var(--bg-clr);
    z-index: 1;
    transition: transform 1s ease-in-out;
  }

  nav.sticky-nav.hide {
    transform: translateY(-100%);
  }

  .site-nav,
  .site-nav-mobile {
    color: var(--text-clr);
    font:
      var(--text-s0) var(--font-secondary),
      serif;
    text-align: center;
  }

  .site-nav {
    border-bottom: 1px dotted;
    padding: var(--s-1);
    display: flex;
    justify-content: center;
  }

  .site-nav > div,
  .site-nav-mobile > div {
    margin: var(--s-2);
  }

  .site-nav a,
  .site-nav-mobile a {
    text-decoration: none;
    border-bottom: 1px transparent dotted;
  }

  .site-nav a:hover,
  .site-nav a.active,
  .site-nav-mobile a:hover,
  .site-nav-mobile a.active {
    border-bottom-color: var(--border-clr);
  }

  .site-nav a.active,
  .site-nav-mobile a.active {
    color: var(--accent);
  }

  ul.site-nav-mobile {
  }
  .site-nav-mobile {
    padding: 0;
    border-bottom: 1px dotted;
    width: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    .site-nav {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .site-nav-mobile {
      display: none;
    }
    nav > a {
      display: none;
    }
    nav {
      display: initial;
      position: initial;
    }
  }
  /* .1selfie {
			width: 500px;
			padding-left: 50%;
		} */
  /* .section {
			padding-right: 25%;
			margin-bottom: 20%;
		}
		.form {
			margin-bottom: 20%;
		}
		.site-footer > div {
			margin: 10px;
		} */
</style>
